h1 a {
    color: orangered;
    text-decoration: none;
}

.aboutmecontent{
    position: absolute;
    top: 140px;
    left: 15px;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: white;
    width: 720px;
}

.funfacts{
    padding-left: 25px;
    list-style-type: square;
}

