@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:"Lato", sans-serif;
  background: url("../images/aboutme/naruto-wallpaper.png");
  color: white;
}

.aboutme {
  font-size: 4rem;
  color: red;
}

.row {
  padding: 10px 0px 10px 0px;
}

.zig1 {
  background-color: rgb(255, 227, 176);
  opacity: 90%;
  color: black;
}

.zig2 {
  background-color: rgb(202, 89, 76);
  color: white;
  opacity: 90%;
}

.fa-home {
  color: white;
}

#content {
  margin-bottom: 20px;
}
