.introduction {
    position: absolute;
    top: 500px;
    left: 10px;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: white;
    width: 720px;
}


  
