h1 a {
    color: orangered;
    text-decoration: none;
}

.animecontent {
    font-size: 1.2em;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: white;
}

#choosepostbutton{
    background-image: none;
    height: 30px;
    background-color: silver;
}

#scrolldown{
    background-image: none;
    height: 30px;
}

#top10anime dt {
    color: red;
}